.gbar {
    background-color:#444444;
    display:table;
    width:100%;
    margin-bottom:5px;
}

.gbar a {
    color:#ccc;
    font-weight:bold;
    font-size:13px;
}

.gbar a:hover {
    color:#fff;
    background-color: #444444;
    border-bottom:3px solid #d84237;
    padding-bottom:3px;
}
.gbar ul {
    float:right;
}
.gbar ul li {
    float:left;
    padding:4px;
    margin-left:5px;
}

.subbar {
    width:100%;
    color:#6c6c6c;
    display:table;
    margin-bottom:5px;
}


.subbar a {
    color:#ccc;
    background-color: #444444;
    padding:3px 6px;
    font-size:13px;
}

.subbar a:hover {
    color:#fff;
    background-color: #d84237;
}
.der {
    float:right;	

}
.iz {
    float:left;
}

.subbar ul li {
    float:left;
}


.titulo {
    width:300px;
    float:left;
}

